<mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>
<mat-toolbar>
    Student Information System
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>


<div class="container">
  <div style="position: absolute; top: 30%; left: 35%; width: 30%; height:40%;">

    <form [formGroup]="credential" (ngSubmit)="signIn()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [email]="true" formControlName="email" placeholder="Type Email">
        <mat-hint>john@eg.com</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Type Password">
        <mat-hint>password: password</mat-hint>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!credential.valid || spinner">
        Sign In 
      </button>
    </form>
    
  </div>
</div>