<app-logout></app-logout>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <h2>Course List</h2>
            </div>
            
            <div class="row">
                <mat-nav-list style="width: 80%">
                    <mat-form-field appearance="outline" class="full-width" style="font-size: 12px">
                        <mat-label>Search Class</mat-label>
                        <input matInput type="text" [formControl]="projectControl">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <mat-list-item>
                        <span style="width: 20%">ID</span>
                        <span style="width: 40%">Title</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <ng-container *ngIf="!filteredClasses">no match found</ng-container>
                    <mat-list-item *ngFor="let class of filteredClasses | async">
                        <span style="width: 20%">{{class.id}}</span>
                        <span style="width: 40%">{{class.title}}</span>
                        <span style="width: 40%">
                            <button *ngIf="!checkIfEnrolled(class.id)" mat-stroked-button color="primary" (click)="enrol(class.id)">Enrol</button>
                            <button *ngIf="checkIfEnrolled(class.id)" mat-stroked-button style="color: green;">Enrollled</button>
                        </span>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="row">
                <h2>Enrolled Courses</h2>
            </div>
            <div class="row">
                <mat-nav-list style="width: 100%; border: 1px solid lightgrey; border-radius: 5px;">
                    <mat-list-item>
                        <span style="width: 20%">ID</span>
                        <span style="width: 40%">Title</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <ng-container *ngFor="let class of classes">
                        <mat-list-item *ngIf="checkIfEnrolled(class.id)">
                            <span style="width: 20%">{{class.id}}</span>
                            <span style="width: 40%">{{class.title}}</span>
                            <span style="width: 40%">
                                <button *ngIf="checkIfEnrolled(class.id)" mat-stroked-button color="warn" (click)="cancelEnrolment(class.id)">
                                    Cancel Enrolment
                                </button>
                            </span>
                        </mat-list-item>
                    </ng-container>
                    
                </mat-nav-list>
            </div>
        </div>
    </div>
</div>