<mat-toolbar>
    Student Information System
    <span class="example-fill-remaining-space"></span>
    <button mat-button routerLink="/signin" routerLinkActive="active">
        <a class="no-deco">Sign In</a>
    </button>
</mat-toolbar>



<div class="container">
    <div style="position: absolute; top: 30%; left: 30%; width: 35%; height:40%;">
        <h1>Welcom to Student Portal</h1>
        <div class="example-button-row">
            <button mat-raised-button routerLink="/signin" routerLinkActive="active" color="primary">Log In</button>
            <!-- <button mat-raised-button color="accent">Sign Up</button> -->
        </div>
    </div>
  </div>