<mat-toolbar>
    Student Information System
    <span class="example-fill-remaining-space"></span>
    <span style="font-size: 16px;">{{user.name}}</span>&nbsp;
    <button mat-raised-button routerLink="/signin" routerLinkActive="active" (click)="logOut()">
        Log out
    </button>
</mat-toolbar>
        